.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo {
  height: 120px;
  object-fit: contain;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.home {
  font-size: 24px;
  cursor: pointer;
}

.profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
